<p>create-activity works!asdasdasd</p>
<label for="activity">Choose an activity:</label>
<select [(ngModel)]="selectActivity.selectedActivity" (ngModelChange)="onActivityChange($event)" name="activity"
    id="activity">
    <option *ngFor="let activity of selectActivity.SportTypes" [ngValue]="activity">
        {{ activity.displayName }}
    </option>
</select>

<form [formGroup]="form">
    <div class="row">
        <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
    </div>
    <button type="submit">Save</button>
</form>