<div class="card" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title clickable-heading" [routerLink]="['/activities', activity.id]">
            {{activity.title}}
        </h5>
        <small>{{ activity.displayname ?? 'Activity' }}</small>

        <div *ngIf="activity.description" style="text-align:left; margin-bottom:1rem;">
            <p class="mb-3">
                {{ activity.description }}
            </p>
        </div>

        <hr />

        <div class="row text-center">
            <ng-container *ngFor="let p of displayProps">
                <div class="col mb-3"><!-- each gets 100%/N -->
                    <div class="h5 mb-1">{{ p.value }}</div>
                    <div class="small text-muted">{{ p.label }}</div>
                </div>
            </ng-container>

            <!-- always display the Time -->
            <div class="col mb-3">
                <div class="h5 mb-1">{{ activity.duration }}</div>
                <div class="small text-muted">Time</div>
            </div>
        </div>
    </div>



    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>

    <div class="images-container" *ngIf="images.length">
        <div class="thumb" *ngFor="let url of images | slice:0:3; let i = index" (click)="openViewer(i)">
            <img [src]="url" alt="image" />

            <div class="overlay" *ngIf="i === 2 && images.length > 3">
                +{{ images.length - 3 }}
            </div>
        </div>
    </div>

    <!-- <button type="map" class="btn btn-primary submit-button" [routerLink]="['/EditActivity',activity.id]">
        Edit
    </button> -->

    <div class="image-map-container" *ngIf="activity">
        <img *ngIf="trackImage" [src]="trackImage" alt="Activity track map" />
    </div>

    <!-- Like indicator -->
    <div class="like-icon">
        <i class="bi bi-hand-thumbs-up"></i>
        <span>{{ activity.likescount }}</span>
    </div>

</div>

<!-- LIGHTBOX OVERLAY -->
<div class="lightbox-overlay" *ngIf="selectedIndex !== null" (click)="closeViewer()">
    <button type="button" class="lightbox-btn prev" (click)="prevImage($event)">‹</button>

    <img class="lightbox-img" [src]="images[selectedIndex!]" alt="full-size image" (click)="$event.stopPropagation()" />

    <button type="button" class="lightbox-btn next" (click)="nextImage($event)">›</button>
</div>