<header>
    <button class="btn btn-primary submit-button" routerLink="/createactivity" *ngIf="(loggedIn$ | async)">
        createactivity
    </button>
    <button class="btn btn-primary submit-button" routerLink="/uploadgpx" *ngIf="(loggedIn$ | async)">
        upload
    </button>
    <button class="btn btn-primary submit-button" routerLink="/map" *ngIf="(loggedIn$ | async)">
        map
    </button>
    <button class="btn btn-primary submit-button" routerLink="/DisplayActivities" *ngIf="(loggedIn$ | async)">
        Activities
    </button>
    <button class="btn btn-primary submit-button" routerLink="/createRoute" *ngIf="(loggedIn$ | async)">
        Create Route
    </button>
    <button class="btn btn-primary submit-button" routerLink="/register" *ngIf="!(loggedIn$ | async)">
        Register
    </button>

    <button class="btn btn-primary submit-button" routerLink="/login" *ngIf="!(loggedIn$ | async)">
        Login
    </button>
    <button class="btn btn-primary submit-button" *ngIf="loggedIn$ | async" (click)="logout()">
        Log Out
    </button>

</header>