<form #editForm="ngForm" (ngSubmit)="submit(editForm)" class="container mt-3">

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id="title" name="title" class="form-control" type="text" [(ngModel)]="editModel.title" required />
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="description" class="form-control" rows="3" [(ngModel)]="editModel.description">
    </textarea>
    </div>

    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input id="date" name="date" class="form-control" type="date" [(ngModel)]="editModel.date" required />
    </div>

    <div class="mb-3">
        <label for="activityType" class="form-label">Activity type</label>
        <select id="activityType" name="activityType" class="form-select" [(ngModel)]="editModel.activityType" required>
            <option *ngFor="let t of activityTypes" [value]="t.value">
                {{ t.label }}
            </option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">
        Save
    </button>
</form>