<p>activity-selector works!</p>

<!-- In your component.html -->
<label for="activity">Choose an activity:</label>
<select [(ngModel)]="selectedActivity" name="activity" id="activity">
    <option *ngFor="let activity of SportTypes" [ngValue]="activity">
        {{ activity.displayName }}
    </option>
</select>

<div style="flex-direction: column;">
    <ng-container *ngIf="selectedActivity">
        <input type="text" placeholder="Duration" [(ngModel)]="selectedActivity.duration" /> Duration
        <input type="number" placeholder="Heartrate" [(ngModel)]="selectedActivity.avgHeartRate" /> Heartrate
        <input type="date" placeholder="Date" [(ngModel)]="selectedActivity.date" /> Date
    </ng-container>

    <ng-container *ngIf="selectedActivity?.displayName === 'Running'">
        <input type="number" [(ngModel)]="runningActivity.avgpace" placeholder="Pace" /> Pace
        <input type="number" [(ngModel)]="runningActivity.totaldistancekm" placeholder="Distance (km)" /> Distance
    </ng-container>

    <ng-container *ngIf="selectedActivity?.displayName === 'Bouldering'">
        <input type="number" [(ngModel)]="boulderingActivity.difficulty" placeholder="Grade" /> Grade
    </ng-container>

    <button type="submit" (click)="submit()">Send</button>
</div>