<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">{{ activity.title }}</h5>
        <small>{{ activity.displayName ?? 'Activity' }}</small>
    </div>

    <div class="card-body">

        <div *ngIf="activity.description" style="text-align:left; margin-bottom:1rem;">
            <label class="fw-bold d-block mb-1">Description</label>
            <p class="mb-3">
                {{ activity.description }}
            </p>
            <hr />
        </div>

        <div class="row text-center
            row-cols-1        
            row-cols-sm-2     
            row-cols-md-3     
            row-cols-lg-4     
            g-3"> <!-- gap between cols in BS5 -->

            <div class="col" *ngFor="let field of fieldsToShow">
                <div class="h5 mb-1">
                    {{ activity[field] }}
                </div>
                <div class="small text-muted">
                    {{ labels[field] || field }}
                </div>
            </div>
        </div>

        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>

    <div class="images-container" *ngIf="images.length">
        <div class="thumb" *ngFor="let url of images; let i = index">
            <img [src]="url" alt="image" />

        </div>
    </div>

</div>