:host {
  display: block;
  height: 100%;
}

.app-grid {
  height: 100vh;
}

main {
  margin-top: 80px;        
  height: calc(100vh - 80px);
  padding: 0; 
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  margin: 0 auto;
}
